<form class="form-horizontal" autocomplete="off" #editSolicitacaoModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'EditSolicitacao' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'Detalhes da Solicitação' | localize" class="pt-3 px-2">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="descricao">Descrição</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="descricao" name="descricao"
                            [(ngModel)]="solicitacao.descricao" maxlength="256"
                            placeholder="Digite aqui a descrição da solicitação"
                            [disabled]="solicitacao.status === 'CONCLUIDA'"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="resolucao">Resolução</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="resolucao" name="resolucao" [(ngModel)]="resolucao"
                            maxlength="512" placeholder="Digite aqui a resolução da solicitação"
                            [disabled]="solicitacao.status === 'CONCLUIDA'"></textarea>
                    </div>
                </div>

                <div *ngFor="let mat of materiais; let i = index" class="border rounded p-3 mb-3">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Material</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="mat.nome" name="mat_nome_{{i}}"
                                [disabled]="solicitacao.status === 'CONCLUIDA'" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Quantidade</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" [(ngModel)]="mat.quantidade"
                                name="mat_quantidade_{{i}}" [disabled]="solicitacao.status === 'CONCLUIDA'" />
                        </div>
                               <label class="col-md-1 col-form-label mr-3">Unidade</label>
                        <div class="col">
                            <input type="text" class="form-control" [(ngModel)]="mat.unidade"
                                name="mat_unidade_{{i}}" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label">Justificativa</label>
                        <div class="col-md-9">
                            <textarea class="form-control" [(ngModel)]="mat.justificativa"
                                name="mat_justificativa_{{i}}" rows="2" placeholder="Digite a justificativa do material"
                                [disabled]="solicitacao.status === 'CONCLUIDA'"></textarea>
                        </div>
                    </div>

                    <div class="text-end">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removerMaterial(i)"
                            [disabled]="solicitacao.status === 'CONCLUIDA'">
                            Remover
                        </button>
                    </div>
                </div>


                <div class="text-start mt-2">
                    <button type="button" class="btn btn-primary" (click)="adicionarMaterial()"
                        [disabled]="solicitacao.status === 'CONCLUIDA'">
                        + Adicionar Material
                    </button>
                </div>
            </tab>

            <tab [heading]="'Obra/Encarregado' | localize" class="pt-3 px-2">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Obra / Encarregado</label>
                    <div class="col-md-9">
                        <select class="form-control" [(ngModel)]="selectedEncarregado"
                            (ngModelChange)="onEncarregadoChange()" name="encarregadoSelect"
                            [disabled]="solicitacao.status === 'CONCLUIDA'">
                            <option *ngFor="let e of encarregadosComObras" [ngValue]="e">
                                {{ e.nomeObra }} (Encarregado: {{ e.nomeEncarregado }})
                            </option>
                        </select>
                    </div>
                </div>
            </tab>

        </tabset>
    </div>

    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editSolicitacaoModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()">

        <!-- Só aparece se status for ABERTA -->
        <button *ngIf="solicitacao.status === 'ABERTA'" type="button" class="btn btn-success mr-2"
            (click)="fecharSolicitacao()">
            Fechar Solicitação
        </button>
    </abp-modal-footer>


</form>