<form class="form-horizontal" autocomplete="off" #editTarefaModal="ngForm" (ngSubmit)="save()">
    <abp-modal-header [title]="'EditTarefa' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <tabset>
            <tab [heading]="'Detalhes da Tarefa' | localize" class="pt-3 px-2">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="descricao">Descrição</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="descricao" name="descricao"
                            [(ngModel)]="tarefa.descricao" maxlength="256"
                            placeholder="Digite aqui a descrição da tarefa"
                            [disabled]="tarefa.status === 'FINALIZADA'"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="resolucao">Observação (opcional)</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="resolucao" name="resolucao" [(ngModel)]="observacao"
                            maxlength="512" placeholder="Digite aqui alguma observação sobre a tarefa"
                            [disabled]="tarefa.status === 'FINALIZADA'"></textarea>
                    </div>
                </div>
            </tab>

            <tab [heading]="'Obra/Encarregado' | localize" class="pt-3 px-2">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label">Obra / Encarregado</label>
                    <div class="col-md-9">
                        <select class="form-control" [(ngModel)]="selectedEncarregado"
                            (ngModelChange)="onEncarregadoChange()" name="encarregadoSelect"
                            [disabled]="tarefa.status === 'FINALIZADA'">
                            <option *ngFor="let e of encarregadosComObras" [ngValue]="e">
                                {{ e.nomeObra }} (Encarregado: {{ e.nomeEncarregado }})
                            </option>
                        </select>
                    </div>
                </div>
            </tab>

        </tabset>
    </div>

    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editTarefaModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()">

        <button *ngIf="tarefa.status === 'PENDENTE'" type="button" class="btn btn-success mr-2"
            (click)="fecharTarefa()">
            Fechar Tarefa
        </button>
    </abp-modal-footer>
</form>
